.form-fill {
    border: 1px solid red;
    margin: 2rem 0;

    >div {
        border: 1px solid red;
        width: 900px;
        margin: auto;

        >div {
            // display: flex;


            >form {

                >div {

                    // 
                    .heading {


                        svg {}
                    }

                    // 
                    .box {

                        .row {
                            display: flex;

                            >div {

                                >p {

                                    >b {}
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}